/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* apparition des commentaires */
[data-star-rating]:hover .gl-star-rating--stars[aria-label]:hover:before,
[data-star-rating]:hover .gl-star-rating--stars[aria-label]:hover:after {
  opacity: 1;
}

[data-star-rating] .gl-star-rating--stars[aria-label]:before,
[data-star-rating] .gl-star-rating--stars[aria-label]:after {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* 🦊 Vos styles ici */
body {
  background-color: #222;
  max-width: 390px;
  height: 932px;
  color: #F4DFD0;
  text-align: center;
}

.retour {
  margin-left: 3%;
}

.gl-star-rating {
  justify-content: center;
}

a {
  color: #F4DFD0;
  text-decoration: none;
}

.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 80px;
  margin-top: 20px;
  align-items: center;
}

h1 {
  color: #F4DFD0;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  color: #F4DFD0;
  margin-top: -13px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 200;

}

.inner-title {
  font-weight: 800;
}



.accordion {
  display: inline-block;
  background-color: #F4DFD0;
  color: #222;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 1px 2px;
  transition-duration: 1s;
  cursor: pointer;
  width: 286px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 16px;


}

.panel {
  margin-top: 30px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #222;
  min-height: 200px;
  border: 1px solid #F4DFD0;
  border-radius: 10px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 200;
}

.buttons {
  margin-top: 78px;
}

.sites {
  columns: 2;

}

.collum {
  text-align: left;
  padding: 5px;
  transition: transform 0.3s ease;
}

.collum:hover {
  transform: scale(1.2);
}

.librairie {
  text-align: left;
  margin-top: 20px;
  color: #F4DFD0;

  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

/* footer*/
.contenu {
  max-width: 350px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-item-align: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(244, 223, 208, 0.13);
  opacity: 0.5;
  padding: 13px;
  gap: 5px;
}

/* bouttons Footer */
.svg-bouton {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.svg-bouton:hover {
  transform: scale(1.2);
}

.fleche {
  width: 10px;
  height: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  position: absolute;
  margin-left: 2px;
  margin-top: -20px;
  transition: transform 0.3s ease;
}

.open .fleche {
  transform: rotate(130deg);
}

/* display ;grid 
collum*/